 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'm an IT professional with 7+ years of experience in this field. I've held positions in various facets of IT, including Operations Engineer, Systems Administrator / Engineer. I find myself most drawn toward infrastructure, development & operations (DevOps), automation, and Cloud technologies.</p>
                </div>
                <div class="col-lg-12"><p></p></div>
                <div class="col-lg-12"><p></p></div>
                <div class="col-lg-12 col-lg-offset-2">
                    <p>I hold the following ceritifcations:
                        <ul>
                          <li> Red Hat Certified Systems Administrator </li>
                          <li> Google Cloud Associate Cloud Engineer </li>
                        </ul></p>
                </div>
            </div>
        </div>
    </section>
